.ProductListItems-main-card {
  width: 320px;
  height: 500px;
}

.ProductListItems-img {
  height: 250px;
  max-height: 250px;
  width: 250px;
  max-width: 250px;
}

.ProductListItems-description-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
